services:
  registry:
    image: registry:2
    container_name: local-registry
    ports:
      - "5000:5000"

  ubuntu_kernel_dev:
    image: localhost:5000/ubuntu_kernel_dev
    build:
      context: https://github.com/chzigotzky/kernels.git#6_12
    ports:
      - "9090:8080"
    volumes:
      - /kernel_dev:/kernel_dev
    depends_on:
      - registry

  ubuntu_kernel_test:
    image: localhost:5000/ubuntu_kernel_test
    build:
      context: https://github.com/chzigotzky/kernels.git#6_12
      dockerfile: Dockerfile_kernel_test
    ports:
      - "9080:3389"
      - "9091:8080"
    volumes:
      - /kernel_dev:/kernel_dev
    depends_on:
      - registry

# volumes:
#   kernel-dev:

# key: value
#
# array:
#   - value1
#   - value2
#   - value3
#
# array:
#   - key1: value
#     key2: value
#   - key1: value
#     key2: value
#
# name: &variable value
# variable2: *variable
#
# docker compose up -d --build (--build deletes also the cache)
# docker compose push (Push the images to the local registry)
# docker compose up ubuntu_kernel_dev -d --build
# docker compose up ubuntu_kernel_test -d --build
# docker compose down
# docker compose stop
# docker compose start
